node_modules/
# electron app build (using webpack)
build/
# electron app package
package/
# electron app installers (unsuccessful so far)
dist/
# typescript app build
cli-build/

notes.txt

# .vscode?