button {
  /* referenced in js */
  background-color: rgb(240, 240, 240);
}

div#main-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  /* change with js */
  grid-template-rows: 95vh;
  /* grid-template-rows: 45vh 55vh; */
}

div#grid-code-editor, div#grid-equal-viewer {
  padding: 5px;
  border: 1px black solid;
}

@media (max-width: 1101px) {
  div#grid-code-editor {
    --toolbar-height: 50px;
  }
}

@media (min-width: 1102px) {
  div#grid-code-editor {
    --toolbar-height: 28px;
  }
}

div#grid-code-editor {
  display: grid;
  grid-template-rows: var(--toolbar-height) calc(100% - var(--toolbar-height));
}

.cm-editor {
  max-height: 100%;
}

div#grid-equal-viewer {
  overflow: auto;
}

div#grid-html-viewer {
  grid-column: 1 / 3;
}

iframe#html-rendered {
  height: 100%;
  width: 100%;
   /* change with js */
   display: none;
   /* display: block; */
}
