.e-main, .e-nav, .e-sidebar-right {
  border: 1px black solid;
}

div.e-grid {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  grid-template-rows: 10vh 45vh 40vh;
}

h1.e-title {
  grid-column: 1 / 4;
  text-align: center;
}

div.e-html-viewer {
  grid-column: 1 / 4;
}

iframe {
  height: 100%;
  width: 100%;
}

main, section {
  padding: 5px;
}

.cm-editor {
  max-height: 200px;
}
/* white, gray, and black
another block underneath? */