<nav>
  <ul>
    <li><a href=""></a>View HTML page</li>
    <li><a href=""></a>{{test}}</li>
    <li><a href=""></a>Run</li>
    <li><a href=""></a>Open File</li>
    <li><a href=""></a>Save to File</li>
    <li><a href=""></a>Open in new tab</li>

  </ul>
</nav>