{{#each tools}}
{{#if this.name}}
<button id="tool-{{this.name}}">
  {{#if this.display}}
  {{this.display}}
  {{else}}
  {{this.name}}
  {{/if}}
</button>
{{/if}}
{{/each}}
<span id="toolbar-file"></span>