<div>
  {{#each tools}}
    {{#if name}}
      <button id="tool-{{name}}">
        {{#if display}}
          {{display}}
        {{else}}
          {{name}}
        {{/if}}
      </button>
    {{/if}}
  {{/each}}
</div>