pre.prism-live {
  /* max-height: 1000px; */
  /* background-color: blue; */
  font-size: 18px;
}

span.token {
  background:  blue;
}



code[class*="language-"],
pre[class*="language-"] {
  background: blue;
  color: yellow;
}

.token.tag {
  color: white;
}
.token.punctuation {
  color: purple;
}





.line-numbers .line-numbers-rows > span::before {
  color: red;
  border-right: 5px solid black;
}