.react-grid-layout {
  overflow-x: hidden;
}
.react-grid-item#editor {
  background-color: #1E252E;
  font-family: "Courier New", monospace;
  color:#fffffc;
}

.react-grid-item#stdin {
  background-color: #C3ED6F;
  /* border: groove; */
}

.react-grid-item#stdout {
  background-color: #6BAD4D;
}

