.react-grid-layout {
  overflow: hidden;
  /* overflow-y: scroll; */
  height: 100%;
}

.react-grid-item {
  color: white;
  font-family: "Source Code Pro", "monospace";
  font-size: 16px;
}

.react-grid-item#stdin {
  background-color: #2c2c2c;
  padding: 4px;
  
}

.react-grid-item#stdout {
  background-color: #1f1f1f;
  padding: 4px;
}
