.react-grid-layout {
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  height: 100%;
}
.react-grid-item#editor {
  background-color: #2a2d2a;

  /* font-family: "Courier New", monospace; */
}

.react-grid-item#stdin {
  background-color: #C3ED6F;
  /* border: groove; */
}

.react-grid-item#stdout {
  background-color: #6BAD4D;
}
